/*-----------------COULEURS------------------------*/

/* texte vert (rollover) : #27AE61
texte gris foncé : #2B3F48
gris clair : #656565 */

/*-----------------COULEURS------------------------*/









main article {
    width: 1000px;
    margin: auto;
}



#current_page {
    color: #27AE69;
}





/*-------------------HEADER------------------------*/

/*----------------------NAV------------------------*/



    header li {

        font-family: 'News Cycle', sans-serif;
        display: inline-block;
        padding: 0 2%;
        font-size: 1em;
        text-transform: uppercase;
    }

    header a {
        text-decoration: none;
        color: black;
    }

    header ul {
        width: 89%;
        text-align: right;
        display: inline-block;


    }

    header nav {
        margin: auto;
        width: 1000px;
    }

    nav h1 {
        font-family: 'News Cycle', sans-serif;
        font-weight: bold;
        font-size: 2em;
        display: inline-block;
        line-height: 3.5;
    }

    header {
        margin: auto;
        background-color: #EDEDEE ;
    }

    @media screen and (max-width: 1000px){

        header nav {
            margin: auto;
            width: 100%;
        }

        nav h1 {
            display: block;
        }

        header ul {
            text-align: left;


        }

    }

    @media screen and (max-width: 279px){

        header li {

            width: 37%;
        }

        nav h1 {
            line-height: 2.5;
        }

    }
/*----------------------NAV------------------------*/


/*-------------------HEADER------------------------*/








/*------------------MAIN---------------------------*/

#sec1 {
    background-image: url(../IMG/banner.png);
    background-size: cover;
    background-color: rgb(39, 174, 97,1);
    padding-bottom: 5em;
}


img:nth-child(2) {

}

#main_article h2 {
    font-weight: bold;
    font-family: 'News Cycle', sans-serif;
    text-align: center;
    font-size: 3.2em;
    color: white;
    margin-bottom: 1%;
}

#main_article h3 {
    font-family: 'News Cycle', sans-serif;
    text-align: center;
    font-size: 1.3em;
    color: rgb(168, 217, 189, 0.8);
    margin-bottom: 3%;
}

#main_article p {
    font-family: 'News Cycle', sans-serif;
    color: #C8E1D5;
    text-align: center;
    margin: auto;
    line-height: 1.8;
    margin-bottom: 4.5%;
}


.button {
    font-size: 1em;
    display: block;
    margin: auto;
    letter-spacing: 4px;
    font-family: 'News Cycle', sans-serif;
    height: 3.5em;
    text-align: center;
    border: none;
    border-radius: 5%;
    background-color: #2B3F48;
    color: #FFFFFF;
    text-transform: uppercase;
    width: 11em;
    line-height: 3em;
    text-decoration: none;
}


figure {
    text-align: center;
    padding: 4% 0;

}



img {
    padding: 0 1%;
    height: 9em;
    border-radius: 100%;

}

@media screen and (max-width: 1000px)
{

main article {
    width: 100%;
    margin: auto;
}
}


@media screen and (max-width: 500px) {
    img {
        padding: 0 1%;
        height: 5em;
        border-radius: 100%;
    }


}
/*--------section 2---------------------------------*/

#white h2 {
    font-family: 'News Cycle', sans-serif;
    text-align: center;
    font-size: 3.2em;
    color: #2D404A;
    margin: 0% 0 1% 0;
    padding-top: 4%;
    font-weight: bold;
}

#white h3 {
    font-family: 'News Cycle', sans-serif;
    text-align: center;
    font-size: 1.3em;
    color: #2D404A;
    margin-bottom: 3%;
}

#white p {
    font-family: 'News Cycle', sans-serif;
    color: #2D404A;
    text-align: center;
    margin: auto;
    line-height: 1.8;
    margin-bottom: 4.5%;
}

#white a {
    background-color: #00BF64;
    color: #FFFFFF;
}


#sec2 {
    background-color: #EEEEEE;
    padding-bottom: 5em;
}

/*--------------------section 3--------------------*/
#green h2 {
    font-weight: bold;
    font-family: 'News Cycle', sans-serif;
    text-align: center;
    font-size: 3.2em;
    color: white;
    margin: 5% 0 1% 0;
    font-weight: bold;
}

#green h3 {
    font-family: 'News Cycle', sans-serif;
    text-align: center;
    font-size: 1.3em;
    color: white;
    margin-bottom: 3%;
}

#green p {
    font-family: 'News Cycle', sans-serif;
    color: white;
    text-align: center;
    margin: auto;
    line-height: 1.8;
    margin-bottom: 4.5%;
}

#green a {
    background-color: white;
    color: #00BF64;

}



strong {
    text-decoration: underline;
}

em {
    font-weight: bold;
}

#sec3 {
    background-color: #00BF64;
    box-sizing: border-box;
    padding-top: 0.1%;
    padding-bottom: 5em;
}

/*------------------MAIN---------------------------*/















/*--------------------FOOTER----------------------*/
footer {
    background-color: #EEEEEE;
    text-align: center;
    color: #C2BCB0;
    padding: 5% 0;
}

footer p {
    margin: auto;
}


/*--------------------FOOTER----------------------*/
